/*
 * Project:     RunLikeTheWind
 * Class:       Data Representation Final | ITP Fall 2011
 * Description: A visual representation of the race results of the Men's Meet of the Hearts
 * Website:     http://ezraezraezra.com/run
 * 
 * Author:      Ezra Velazquez
 * Website:     http://ezraezraezra.com
 * Date:        December 2011
 * 
 */ 
body {
	margin: 0;
	padding: 0;
	background-color: #161616;
}
#button_name {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height: 40px;
	background-color: #0099CC;
	font-size: 20px;
	top: 30px;
	line-height: 40px;
	cursor: pointer;
}
#button_modify {
	position: relative;
	margin-left: 40px;
	background-color: #0099CC;
	width: 240px;
	height: 60px;
	font-family: "Futura";
	font-size: 24px;
	text-align: center;
	line-height: 60px;
	top: 5px;
	cursor: pointer;
}
#canvas_lane_info {
	position: relative;
	top: 15px;
	outline: none;
}
#canvas_race_info {
	position: relative;
	
	outline: none;
}
#canvas_race_info {
	cursor: pointer;
}
.canvas_race_lane {
	outline: none;
}
#canvas_scale {
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#container {
	position: relative;
	top: 0px;
}
#container_bottom {
	position: relative;
	top: 70px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}
#container_middle {
	position: relative;
	top: 60px;
}
#container_modal {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 11;
}
#container_top {
	position: relative;
	width: 1052px;
	margin-left: auto;
	margin-right: auto;
	height: 150px;
}
#container_top_left {
	position: relative;
	float: right;
	width: 300px;
	height: 175px;
}
#container_top_right {
	position: relative;
	float: left;
	width: 450px;
	height: 175px;
}
#cover_modal {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color:#0099CC;
	top: 0;
	left: 0;
	z-index: 10;
	opacity: .5;
}
#fa_first {
	position: relative;
	font-family: "Futura";
	font-size: 18px;
}
#fa_last {
	position: relative;
	font-family: "Futura";
	font-size: 18px;
}
#filter_advance {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 200px;
	background-color:#000000;
	top: 50px;
	font-family: "Futura";
	color: #ffffff;
	font-size: 24px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
	display: none;
}
#filter_advance_name {
	position: relative;
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	height: 190px;
	top: 10px;
}
#filter_by {
	font-size: 36px;
	font-family: "Lucida Grande";
}
#lane_container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}
#modal_body {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 266px;
	background-color:green;
}
#modal_container {
	position: relative;
	z-index: 100;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 50px;
	background-color: blue;
	text-align: center;
	font-family: "Lucida Grande";
	color: white;
	font-size: 24px;
	line-height: 40px;
}
.modal_search_body {
	position: relative;
	width: 500px;
	height: 136px;
	background-color: purple;
}
#modal_search_type {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 80px;
	background-color:#000000;
	top: 50px;
	font-family: "Futura";
	color: #ffffff;
	font-size: 24px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
}
#modal_tag {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 191px;
	height: 43px;
	background-color:red;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	cursor: pointer;
}
#runner_amount {
	position: relative;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	top: -30px;
}
#slide_container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	top: 20px;
	height: 50px;
	background: url('../assets/slider_background.png') no-repeat;
	text-align: center;
	visibility: hidden;
}
#slide_amount {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	background-color: transparent;
	height: 50px;
}
.primary_filter {
	position: relative;
	float: left;
	width: 100px;
	height: 40px;
	font-family: "Futura";
	text-align: center;
	font-size: 20px;
	background-color: #0099CC;
	line-height: 35px;
	margin: 8px;
	margin-left: 15px;
	cursor: pointer;
	color: black;
}
.secondary_filter {
	position: relative;
	float: left;
	width: 100px;
	height: 40px;
	font-family: "Futura";
	text-align: center;
	font-size: 14px;
	background-color: #0099CC;
	line-height: 35px;
	margin: 8px;
	margin-left: 15px;
	cursor: pointer;
	color: black;
}